{% extends "base.html" %}


    {% block title %}Contador{% endblock %}

    {% block content %}    
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                <h3 class="">Contador de caracteres</h3>
                <p class="text-truncate text-secondary">Faça upload de arquivo.</p>
                <div class="px-2 text-left">
                    <form action="{% url 'counter' %}" method="post" enctype="multipart/form-data" onsubmit="handleFormSubmit(event)">
                        {% csrf_token %}

                        <div class="form-group">
                            <div class="input-group">
                                <label class="form-label" for="inputGroup">Selecione um arquivo</label>
                                <input type="file" class="" id="inputGroup" name="arquivo" required>                                
                            </div>
                            <div class="d-flex justify-content-center mt-4">
                                <button id="submitButton" class="btn btn-outline-info col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto" type="submit">Contar</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button id="spinnerButton" class="btn btn-outline-info col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto" type="button" disabled disabled style="display: none";>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Processando...
                                </button>
                            </div>  
                        </div>                   
                    </form>
                </div>

                <div>
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                </div>

                <!-- <style>
                    .table-rounded {
                  border-radius: 15px;
                  overflow: hidden;
                }
                thead {
                    border-top: none !important;
                }
              </style> -->

                <div class="d-flex justify-content-center mt-4">
                    {% if result and not error %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="table-light">
                                    <tr>
                                        <th>Caracteres</th>
                                        <th>Qnt.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Todos:</td>
                                        <td>{{ res0 }}</td>
                                    </tr>
                                    <tr>
                                        <td>Sem espaços:</td>
                                        <td>{{ res1 }}</td>
                                    </tr>
                                    <tr>
                                        <td>Sem NL:</td>
                                        <td>{{ res2 }}</td>
                                    </tr>
                                    <tr class="table-light">
                                        <td>Arquivo:</td>
                                        <td>{{ file }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if texto_extraido %}
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto">
                <form>
                    <div class="form-group" style="color: rgb(192, 192, 192); font-weight: 500;">
                        <label for="textoCompleto">Texto Completo:</label>
                        <textarea class="form-control" id="textoCompleto" rows="10" disabled>
                            {{ texto_extraido }}
                        </textarea>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
    <br><br>

    <script>
        function handleFormSubmit(event) {
            // Previne o envio imediato do formulário
            event.preventDefault();
    
            // Esconde o botão de submit e exibe o botão de spinner
            document.getElementById('submitButton').style.display = 'none';
            document.getElementById('spinnerButton').style.display = 'block';
    
            // Envia o formulário via JavaScript
            const form = event.target;
    
            // Simulação do envio do formulário com timeout (substitua pelo envio real do formulário)
            setTimeout(() => {
                form.submit(); // Envia o formulário normalmente após o tempo de espera
            }, 500); // Apenas para simular um delay
        }
    </script>

    {% endblock content %}
